{%- assign vurl = include.item.youtube | default: include.item.video_url | default: include.item.url_video | default: include.item.link | default: include.item.video | default: "" -%}
{%- assign vid = "" -%}
{%- if vurl contains "youtu" -%}
  {%- if vurl contains "youtu.be/" -%}
    {%- assign vid = vurl | split: "youtu.be/" | last | split: "?" | first -%}
  {%- elsif vurl contains "shorts/" -%}
    {%- assign vid = vurl | split: "shorts/" | last | split: "?" | first -%}
  {%- elsif vurl contains "embed/" -%}
    {%- assign vid = vurl | split: "embed/" | last | split: "?" | first -%}
  {%- elsif vurl contains "v=" -%}
    {%- assign vid = vurl | split: "v=" | last | split: "&" | first -%}
  {%- endif -%}
{%- endif -%}
{%- if vid != "" -%}https://img.youtube.com/vi/{{ vid }}/hqdefault.jpg
{%- elsif include.item.imagem and include.item.imagem != "" -%}{{ include.item.imagem }}
{%- else -%}/imagens/noticias/sem-título.png{%- endif -%}
